


             body {
                        background: linear-gradient(-45deg,#02052c, #1f0336, #032531, #03271f);
                        background-size: 400% 400%;
                        animation: gradient 15s ease infinite;
                        height: 100vh;
            }
            
            @keyframes gradient {
                        0% {
                                    background-position: 0% 50%;
                        }
                        50% {
                                    background-position: 100% 50%;
                        }
                        100% {
                                    background-position: 0% 50%;
                        }
            }


.letras_button{
            font-family: 'Oswald', sans-serif;
            color: white;
            text-align: center;
           

}
.Logo{
           
           width: 80%;
           height: 80%;
           display: block;
           margin: auto;
             
}
.logo2{
  width: 50px;
           height: 50px;
           display: block;
           margin: auto;
}
.efecto{
           
            text-align: center;
            font-family: 'Oswald', sans-serif;
            color:   white;
            background: linear-gradient(-45deg,#0b0f49, #270b3f, #0a2c38, #0e3f34);
            animation: gradient 15s ease infinite;
            background-size: 400% 400%;
            animation: gradient 15s ease infinite;          
            border: none;
            padding: 16px 32px;
            font-size: 24px;
            font-weight: bold;
            position: relative;
            border-radius: 12px;                                            
}
.efecto::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width:  100%;
            height: 100%;
            background: linear-gradient(
                        45deg, rgb(73, 26, 201), rgb(0, 183, 255), rgb(20, 255, 243),rgb(0, 183, 255),rgb(73, 26, 201),
                        rgb(0, 183, 255), rgb(20, 255, 243), rgb(0, 183, 255)
            );
            background-size: 800%;
            border-radius: 10px;
            filter: blur(8px);
            animation: glowing 20s linear infinite;
}
@keyframes glowing{ 0%{background-position: 0 0;}50%
{background-position: 400% 0;}100%{background-position: 0 0;}}


nav{text-align: center;}

button{
            cursor: pointer;
}

 

footer{
            text-align: center;
            font-family: 'Oswald', sans-serif;
            color:   white;
            font-size: 20px;                                         
}


h1{
            text-align: center;
            font-family: 'Oswald', sans-serif;
            color:   white;
            font-size: 28px;
          
           
           

                       
                                               
}

.botones_contacto{color: white;           
}

.img_ventana{
            width: 100%;
           height: 100%;
           display: block;
           margin: auto; }

          
.ventana{ 
            width: 90%;
  margin:  auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.item {
  flex: 1;
}


.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

#large-header  {
                        background: linear-gradient(-45deg, #02052c, #1f0336, #032531, #03271f);
                        background-size: 400% 400%;
                        animation: gradient 15s ease infinite;
                        height: 100vh;
            }
            
            @keyframes gradient {
                        0% {
                                    background-position: 0% 50%;
                        }
                        50% {
                                    background-position: 100% 50%;
                        }
                        100% {
                                    background-position: 0% 50%;
                        }
            }
	

.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.demo-1 .main-title {
	text-transform: uppercase;
	font-size: 4.2em;
	letter-spacing: 0.1em;
}

.main-title .thin {
	font-weight: 200;
}

@media only screen and (max-width : 768px) {
	.demo-1 .main-title {
		font-size: 3em;
	}
}
      

.slider-frame {
	width: auto;
    height: auto;
	margin:auto ;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

@media (max-width: 767px) {
  .container {
    flex-direction: column;
  }
  .item {
    margin: 10px 0;
  }
}

